AZURE_ENDPOINT_GPT4="https://devcodeEastUS2.openai.azure.com/openai/deployments/gpt-4o"
AZURE_COMPLETIONPATH_GPT4="/chat/completions?api-version=2023-03-15-preview"
AZURE_KEY_GPT4="f2e32548264d43078eade711a73fb446"
SERPAPI_KEY="e1f1dcfe980dbaac0f043387843baaf3961f65bc299446091bcdb26a7b80b0fa"